  /* ===== SIDEBAR ===== */
  :host, .sidebar { 
    display: flex;
    flex-direction: column;
    height: 100%;          /* rất quan trọng */
    background: linear-gradient(180deg,#5b61e6,#4c58d6); /* ví dụ */
    color: #fff;
    box-shadow: 2px 0 10px rgba(0,0,0,0.08);
    overflow: auto;        /* nếu menu dài sẽ scroll */
  }
  
  .avatar {
    margin-top: 60px;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .avatar-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
  }
  
  .avatar h3 {
    font-size: 18px;
    color: #ffffff;
    margin: 0;
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
  }
  
  .menu li {
    padding: 10px 15px;
    font-size: 14px;
    border-bottom: 1px solid #99BBFF;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #ffffff;
    cursor: pointer;
  }
  
  .menu li.active {
    background-color: #99BBFF;
    font-weight: 600;
  }
  
  .menu li:hover {
    background-color: #99BBFF;
  }
  