html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden; 
}

/* Toàn bộ layout theo cột */
:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  background: #fff;
  z-index: 300;
  border-bottom: 1px solid #ddd;
}


.layout {
  display: flex; 
  flex: 1; 
  position: relative;
  margin-top: 70px; 
  overflow: hidden; 
}

app-sidebar {
  position: fixed;
  top: 100px; 
  bottom: 0px; 
  left: 0;
  width: auto; /* Chiều rộng cố định */
  border-right: 1px solid #ddd;
  z-index: 200;
  overflow-y: auto; 
}

/* Vùng nội dung chính */
.content {
  margin-left: 150px;
  padding: 24px 32px;
  box-sizing: border-box;
  flex-grow: 1; 

  height: 100%; 
  
  overflow-y: auto;
  background: transparent;
}