html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden; 
}

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  background: #fff;
  z-index: 300;
  border-bottom: 1px solid #ddd;
}

.layout {
  display: flex; 
  flex: 1; 
  position: relative;
  margin-top: 70px; 
  overflow: hidden; 
}

app-sidebar {
  position: fixed;
  top: 70px; 
  bottom: 0px; 
  left: 0;
  width: ato; 
  border-right: 1px solid #ddd;
  z-index: 200;
  overflow-y: auto; 
  transition: width 0.3s ease; 
}


.content {
  margin-left: 260px; 
  padding: 24px 32px;
  box-sizing: border-box;
  flex-grow: 1; 
  height: 100%; 
  overflow-y: auto;
  background: transparent;
  transition: margin-left 0.3s ease; 
}

@media (max-width: 1024px) {
  app-sidebar {
      width: 200px;
  }
  .content {
      margin-left: 200px;
  }
}

@media (max-width: 768px) {
  app-sidebar {
      width: 180px;
  }
  .content {
      margin-top: 30px;
      margin-left: 180px;
      padding: 15px 20px; 
  }
}

@media (max-width: 480px) {
  app-sidebar {
    width: 150px;
  }
}