.admin-container {
  display: flex;
  height: 100vh;
  background-color: #f5f7fa;
  font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  margin-left: 250px;
  background-color: #375578;
}

.header {
  background: white;
  padding: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header h1 {
  font-size: 24px;
  color: #333;
  margin: 0;
}

.content {
  padding: 30px;
  color: white;
}
