<main class="main-content">

    <!-- ===== CỘT SƠ ĐỒ GHẾ ===== -->
    <div class="seat-map-column">

        <header>
            <img src="/assets/media/Logo.png" alt="Logo" class="logo">
        </header>

        <div class="seat-map-scroller">
            <div class="seat-container">

                <!-- Ghế Hạng Thương gia -->
                <div class="seat-business" (click)="selectSeat('A01', 'business')"
                    [class.selected]="selectedSeat === 'A01'" style="top: 495px; left: 38.5%;">A01</div>
                <div class="seat-business" (click)="selectSeat('B01', 'business')"
                    [class.selected]="selectedSeat === 'B01'" style="top: 495px; left: 48.5%;">B01</div>
                <div class="seat-business occupied" style="top: 495px; left: 58.5%;">C01</div>

                <div class="seat-business" (click)="selectSeat('A02', 'business')"
                    [class.selected]="selectedSeat === 'A02'" style="top: 558px; left: 38.5%;">A02</div>
                <div class="seat-business" (click)="selectSeat('B02', 'business')"
                    [class.selected]="selectedSeat === 'B02'" style="top: 558px; left: 48.5%;">B02</div>
                <div class="seat-business occupied" style="top: 558px; left: 58.5%;">C02</div>

                <div class="seat-business" (click)="selectSeat('A03', 'business')"
                    [class.selected]="selectedSeat === 'A03'" style="top: 621px; left: 38.5%;">A03</div>
                <div class="seat-business" (click)="selectSeat('B03', 'business')"
                    [class.selected]="selectedSeat === 'B03'" style="top: 621px; left: 48.5%;">B03</div>
                <div class="seat-business occupied" style="top: 621px; left: 58.5%;">C03</div>

                <div class="seat-business" (click)="selectSeat('A04', 'business')"
                    [class.selected]="selectedSeat === 'A04'" style="top: 684px; left: 38.5%;">A04</div>
                <div class="seat-business" (click)="selectSeat('B04', 'business')"
                    [class.selected]="selectedSeat === 'B04'" style="top: 684px; left: 48.5%;">B04</div>
                <div class="seat-business occupied" style="top: 684px; left: 58.5%;">C04</div>

                <div class="seat-business" (click)="selectSeat('A05', 'business')"
                    [class.selected]="selectedSeat === 'A05'" style="top: 747px; left: 38.5%;">A05</div>
                <div class="seat-business" (click)="selectSeat('B05', 'business')"
                    [class.selected]="selectedSeat === 'B05'" style="top: 747px; left: 48.5%;">B05</div>
                <div class="seat-business occupied" style="top: 747px; left: 58.5%;">C05</div>

                <!-- Ghế Hạng Phổ thông -->
                <div class="seat-economy" (click)="selectSeat('A06', 'economy')"
                    [class.selected]="selectedSeat === 'A06'" style="top: 826px; left: 38.5%;">A06</div>
                <div class="seat-economy" (click)="selectSeat('B06', 'economy')"
                    [class.selected]="selectedSeat === 'B06'" style="top: 826px; left: 44.5%;">B06</div>
                <div class="seat-economy occupied" style="top: 826px; left: 53.5%;">C06</div>
                <div class="seat-economy occupied" style="top: 826px; left: 59.5%;">D06</div>

                <div class="seat-economy" (click)="selectSeat('A07', 'economy')"
                    [class.selected]="selectedSeat === 'A07'" style="top: 876px; left: 38.5%;">A07</div>
                <div class="seat-economy" (click)="selectSeat('B07', 'economy')"
                    [class.selected]="selectedSeat === 'B07'" style="top: 876px; left: 44.5%;">B07</div>
                <div class="seat-economy occupied" style="top: 876px; left: 53.5%;">C07</div>
                <div class="seat-economy occupied" style="top: 876px; left: 59.5%;">D07</div>

                <div class="seat-economy" (click)="selectSeat('A08', 'economy')"
                    [class.selected]="selectedSeat === 'A08'" style="top: 926px; left: 38.5%;">A08</div>
                <div class="seat-economy" (click)="selectSeat('B08', 'economy')"
                    [class.selected]="selectedSeat === 'B08'" style="top: 926px; left: 44.5%;">B08</div>
                <div class="seat-economy occupied" style="top: 926px; left: 53.5%;">C08</div>
                <div class="seat-economy occupied" style="top: 926px; left: 59.5%;">D08</div>

                <div class="seat-economy" (click)="selectSeat('A09', 'economy')"
                    [class.selected]="selectedSeat === 'A09'" style="top: 976px; left: 38.5%;">A09</div>
                <div class="seat-economy" (click)="selectSeat('B09', 'economy')"
                    [class.selected]="selectedSeat === 'B09'" style="top: 976px; left: 44.5%;">B09</div>
                <div class="seat-economy occupied" style="top: 976px; left: 53.5%;">C09</div>
                <div class="seat-economy occupied" style="top: 976px; left: 59.5%;">D09</div>

                <div class="seat-economy" (click)="selectSeat('A10', 'economy')"
                    [class.selected]="selectedSeat === 'A10'" style="top: 1026px; left: 38.5%;">A10</div>
                <div class="seat-economy" (click)="selectSeat('B10', 'economy')"
                    [class.selected]="selectedSeat === 'B10'" style="top: 1026px; left: 44.5%;">B10</div>
                <div class="seat-economy occupied" style="top: 1026px; left: 53.5%;">C10</div>
                <div class="seat-economy occupied" style="top: 1026px; left: 59.5%;">D10</div>

                <div class="seat-economy" (click)="selectSeat('A11', 'economy')"
                    [class.selected]="selectedSeat === 'A11'" style="top: 1114px; left: 38.5%;">A11</div>
                <div class="seat-economy" (click)="selectSeat('B11', 'economy')"
                    [class.selected]="selectedSeat === 'B11'" style="top: 1114px; left: 44.5%;">B11</div>
                <div class="seat-economy occupied" style="top: 1114px; left: 53.5%;">C11</div>
                <div class="seat-economy occupied" style="top: 1114px; left: 59.5%;">D11</div>

                <div class="seat-economy" (click)="selectSeat('A12', 'economy')"
                    [class.selected]="selectedSeat === 'A12'" style="top: 1164px; left: 38.5%;">A12</div>
                <div class="seat-economy" (click)="selectSeat('B12', 'economy')"
                    [class.selected]="selectedSeat === 'B12'" style="top: 1164px; left: 44.5%;">B12</div>
                <div class="seat-economy occupied" style="top: 1164px; left: 53.5%;">C12</div>
                <div class="seat-economy occupied" style="top: 1164px; left: 59.5%;">D12</div>

                <div class="seat-economy" (click)="selectSeat('A13', 'economy')"
                    [class.selected]="selectedSeat === 'A13'" style="top: 1214px; left: 38.5%;">A13</div>
                <div class="seat-economy" (click)="selectSeat('B13', 'economy')"
                    [class.selected]="selectedSeat === 'B13'" style="top: 1214px; left: 44.5%;">B13</div>
                <div class="seat-economy occupied" style="top: 1214px; left: 53.5%;">C13</div>
                <div class="seat-economy occupied" style="top: 1214px; left: 59.5%;">D13</div>

                <div class="seat-economy" (click)="selectSeat('A14', 'economy')"
                    [class.selected]="selectedSeat === 'A14'" style="top: 1264px; left: 38.5%;">A14</div>
                <div class="seat-economy" (click)="selectSeat('B14', 'economy')"
                    [class.selected]="selectedSeat === 'B14'" style="top: 1264px; left: 44.5%;">B14</div>
                <div class="seat-economy occupied" style="top: 1264px; left: 53.5%;">C14</div>
                <div class="seat-economy occupied" style="top: 1264px; left: 59.5%;">D14</div>

                <div class="seat-economy" (click)="selectSeat('A15', 'economy')"
                    [class.selected]="selectedSeat === 'A15'" style="top: 1314px; left: 38.5%;">A15</div>
                <div class="seat-economy" (click)="selectSeat('B15', 'economy')"
                    [class.selected]="selectedSeat === 'B15'" style="top: 1314px; left: 44.5%;">B15</div>
                <div class="seat-economy occupied" style="top: 1314px; left: 53.5%;">C15</div>
                <div class="seat-economy occupied" style="top: 1314px; left: 59.5%;">D15</div>

                <div class="seat-economy" (click)="selectSeat('A16', 'economy')"
                    [class.selected]="selectedSeat === 'A16'" style="top: 1402px; left: 38.5%;">A16</div>
                <div class="seat-economy" (click)="selectSeat('B16', 'economy')"
                    [class.selected]="selectedSeat === 'B16'" style="top: 1402px; left: 44.5%;">B16</div>
                <div class="seat-economy occupied" style="top: 1402px; left: 53.5%;">C16</div>
                <div class="seat-economy occupied" style="top: 1402px; left: 59.5%;">D16</div>

                <div class="seat-economy" (click)="selectSeat('A17', 'economy')"
                    [class.selected]="selectedSeat === 'A17'" style="top: 1452px; left: 38.5%;">A17</div>
                <div class="seat-economy" (click)="selectSeat('B17', 'economy')"
                    [class.selected]="selectedSeat === 'B17'" style="top: 1452px; left: 44.5%;">17B</div>
                <div class="seat-economy occupied" style="top: 1452px; left: 53.5%;">C17</div>
                <div class="seat-economy occupied" style="top: 1452px; left: 59.5%;">D17</div>

                <div class="seat-economy" (click)="selectSeat('A18', 'economy')"
                    [class.selected]="selectedSeat === 'A18'" style="top: 1502px; left: 38.5%;">A18</div>
                <div class="seat-economy" (click)="selectSeat('B18', 'economy')"
                    [class.selected]="selectedSeat === 'B18'" style="top: 1502px; left: 44.5%;">B18</div>
                <div class="seat-economy occupied" style="top: 1502px; left: 53.5%;">C18</div>
                <div class="seat-economy occupied" style="top: 1502px; left: 59.5%;">D18</div>

                <div class="seat-economy" (click)="selectSeat('A19', 'economy')"
                    [class.selected]="selectedSeat === 'A19'" style="top: 1552px; left: 38.5%;">A19</div>
                <div class="seat-economy" (click)="selectSeat('B19', 'economy')"
                    [class.selected]="selectedSeat === 'B19'" style="top: 1552px; left: 44.5%;">B19</div>
                <div class="seat-economy occupied" style="top: 1552px; left: 53.5%;">C19</div>
                <div class="seat-economy occupied" style="top: 1552px; left: 59.5%;">D19</div>

                <div class="seat-economy" (click)="selectSeat('A20', 'economy')"
                    [class.selected]="selectedSeat === 'A20'" style="top: 1602px; left: 38.5%;">A20</div>
                <div class="seat-economy" (click)="selectSeat('B20', 'economy')"
                    [class.selected]="selectedSeat === 'B20'" style="top: 1602px; left: 44.5%;">B20</div>
                <div class="seat-economy occupied" style="top: 1602px; left: 53.5%;">C20</div>
                <div class="seat-economy occupied" style="top: 1602px; left: 59.5%;">D20</div>

                <div class="seat-economy" (click)="selectSeat('A22', 'economy')"
                    [class.selected]="selectedSeat === 'A22'" style="top: 1690px; left: 38.5%;">A21</div>
                <div class="seat-economy" (click)="selectSeat('B22', 'economy')"
                    [class.selected]="selectedSeat === 'B22'" style="top: 1690px; left: 44.5%;">B21</div>
                <div class="seat-economy occupied" style="top: 1690px; left: 53.5%;">C21</div>
                <div class="seat-economy occupied" style="top: 1690px; left: 59.5%;">D21</div>

                <div class="seat-economy" (click)="selectSeat('A22', 'economy')"
                    [class.selected]="selectedSeat === 'A22'" style="top: 1740px; left: 38.5%;">A22</div>
                <div class="seat-economy" (click)="selectSeat('B22', 'economy')"
                    [class.selected]="selectedSeat === 'B22'" style="top: 1740px; left: 44.5%;">B22</div>
                <div class="seat-economy occupied" style="top: 1740px; left: 53.5%;">C22</div>
                <div class="seat-economy occupied" style="top: 1740px; left: 59.5%;">D22</div>

                <div class="seat-economy" (click)="selectSeat('A23', 'economy')"
                    [class.selected]="selectedSeat === 'A23'" style="top: 1790px; left: 38.5%;">A23</div>
                <div class="seat-economy" (click)="selectSeat('B23', 'economy')"
                    [class.selected]="selectedSeat === 'B23'" style="top: 1790px; left: 44.5%;">B23</div>
                <div class="seat-economy occupied" style="top: 1790px; left: 53.5%;">C23</div>
                <div class="seat-economy occupied" style="top: 1790px; left: 59.5%;">D23</div>

                <div class="seat-economy" (click)="selectSeat('A24', 'economy')"
                    [class.selected]="selectedSeat === 'A24'" style="top: 1840px; left: 38.5%;">A24</div>
                <div class="seat-economy" (click)="selectSeat('B24', 'economy')"
                    [class.selected]="selectedSeat === 'B24'" style="top: 1840px; left: 44.5%;">B24</div>
                <div class="seat-economy occupied" style="top: 1840px; left: 53.5%;">C24</div>
                <div class="seat-economy occupied" style="top: 1840px; left: 59.5%;">D24</div>

                <div class="seat-economy" (click)="selectSeat('A25', 'economy')"
                    [class.selected]="selectedSeat === 'A25'" style="top: 1890px; left: 38.5%;">A25</div>
                <div class="seat-economy" (click)="selectSeat('B25', 'economy')"
                    [class.selected]="selectedSeat === 'B25'" style="top: 1890px; left: 44.5%;">B25</div>
                <div class="seat-economy occupied" style="top: 1890px; left: 53.5%;">C25</div>
                <div class="seat-economy occupied" style="top: 1890px; left: 59.5%;">D25</div>

                <div class="seat-economy" (click)="selectSeat('A26', 'economy')"
                    [class.selected]="selectedSeat === 'A26'" style="top: 1978px; left: 38.5%;">A26</div>
                <div class="seat-economy" (click)="selectSeat('B26', 'economy')"
                    [class.selected]="selectedSeat === 'B26'" style="top: 1978px; left: 44.5%;">B26</div>
                <div class="seat-economy occupied" style="top: 1978px; left: 53.5%;">C26</div>
                <div class="seat-economy occupied" style="top: 1978px; left: 59.5%;">D26</div>

                <div class="seat-economy" (click)="selectSeat('A27', 'economy')"
                    [class.selected]="selectedSeat === 'A27'" style="top: 2028px; left: 38.5%;">A27</div>
                <div class="seat-economy" (click)="selectSeat('B27', 'economy')"
                    [class.selected]="selectedSeat === 'B27'" style="top: 2028px; left: 44.5%;">B27</div>
                <div class="seat-economy occupied" style="top: 2028px; left: 53.5%;">C27</div>
                <div class="seat-economy occupied" style="top: 2028px; left: 59.5%;">D27</div>

                <div class="seat-economy" (click)="selectSeat('A28', 'economy')"
                    [class.selected]="selectedSeat === 'A28'" style="top: 2078px; left: 38.5%;">A28</div>
                <div class="seat-economy" (click)="selectSeat('B28', 'economy')"
                    [class.selected]="selectedSeat === 'B28'" style="top: 2078px; left: 44.5%;">B28</div>
                <div class="seat-economy occupied" style="top: 2078px; left: 53.5%;">C28</div>
                <div class="seat-economy occupied" style="top: 2078px; left: 59.5%;">D28</div>

                <div class="seat-economy" (click)="selectSeat('A29', 'economy')"
                    [class.selected]="selectedSeat === 'A29'" style="top: 2128px; left: 38.5%;">A29</div>
                <div class="seat-economy" (click)="selectSeat('B29', 'economy')"
                    [class.selected]="selectedSeat === 'B29'" style="top: 2128px; left: 44.5%;">B29</div>
                <div class="seat-economy occupied" style="top: 2128px; left: 53.5%;">C29</div>
                <div class="seat-economy occupied" style="top: 2128px; left: 59.5%;">D29</div>
            </div>
        </div>
    </div>

    <!-- ===== CỘT THÔNG TIN (SIDEBAR) ===== -->
    <aside class="info-column">

        <!-- ===== HEADER (ĐÃ CẬP NHẬT ĐỘNG) ===== -->
        <header class="sidebar-header">

            <!-- Hiển thị khi đang tải -->
            <ng-container *ngIf="isLoading()">
                <div class="header-box">
                    <div class="hightlight">Đang tải...</div>
                </div>
            </ng-container>

            <!-- Hiển thị khi có dữ liệu chuyến bay -->
            <ng-container *ngIf="selectedFlight() as f">
                <div class="header-box">
                    <div class="hightlight">{{ f.from }}</div>
                </div>

                <div class="header-box">
                    <div class="hightlight">&rarr;</div>
                </div>

                <div class="header-box">
                    <div class="hightlight">{{ f.to }}</div>
                </div>

                <div class="header-box">
                    <div>{{ dateVN(f.departTime) }} | {{ timeHM(f.departTime) }}</div>
                    <div>Departing</div>
                </div>

                <div class="header-box">
                    <div>{{ dateVN(f.arriveTime) }} | {{ timeHM(f.arriveTime) }}</div>
                    <div>Arriving</div>
                </div>
            </ng-container>

            <!-- Hiển thị nếu không tìm thấy chuyến bay -->
            <ng-container *ngIf="!isLoading() && !selectedFlight()">
                <div class="header-box">
                    <div class="hightlight" style="color: red;">Lỗi</div>
                    <div>Không tìm thấy chuyến bay.</div>
                </div>
            </ng-container>

        </header>
        <!-- ===== KẾT THÚC CẬP NHẬT HEADER ===== -->


        <main class="sidebar-main">

            <div class="sidebar-sub-column">
                <div class="ticket-type">
                    <img src="/assets/media/Economy Seats.png" alt="Economy Seats" class="seat-img">
                    <h2>
                        Phổ thông
                        <span *ngIf="selectedSeatType === 'economy'" class="selected-badge blue">Selected</span>
                    </h2>
                    <div>Vé hạng phổ thông cung cấp dịch vụ cơ bản với chi phí tiết kiệm, bao gồm:</div>
                    <ul>
                        <li class="item-blue">Chỗ ngồi tiêu chuẩn trên khoang máy bay.</li>
                        <li class="item-blue">Dịch vụ ăn uống và giải trí cơ bản, có thể phải trả phí.</li>
                        <li class="item-blue">Ưu tiên làm thủ tục, lên máy bay và nhận hành lý cơ bản.</li>
                    </ul>
                </div>
            </div>

            <div class="sidebar-sub-column">
                <div class="ticket-type">
                    <img src="/assets/media/Business Seats.png" alt="Economy Seats" class="seat-img">
                    <h2>
                        Thương gia
                        <span *ngIf="selectedSeatType === 'business'" class="selected-badge green">Selected</span>
                    </h2>
                    <div>Hạng thương gia là hạng vé lý tưởng dành cho những hành khách muốn có trải nghiệm bay thoải
                        mái, riêng tư với nhiều đặc quyền.</div>
                    <ul>
                        <li class="item-green">Ghế rộng, thoải mái, có thể ngả thành giường.</li>
                        <li class="item-green">Suất ăn và đồ uống cao cấp, miễn phí và đa dạng.</li>
                        <li class="item-green">Ưu tiên làm thủ tục check-in và lên máy bay tại quầy riêng.</li>
                        <li class="item-green">Được sử dụng phòng chờ VIP.</li>
                        <li class="item-green">Quyền lợi về hành lý ký gửi và xách tay ưu tiên với trọng lượng lớn hơn.
                        </li>
                    </ul>
                </div>
            </div>

        </main>

        <!-- ===== FOOTER (ĐÃ CẬP NHẬT ĐỘNG) ===== -->
        <footer class="sidebar-footer">

            <div class="footer-info-box">
                <div>Hành khách</div>
                <ng-container *ngIf="currentUser; else guestUser">
                    <strong>{{ currentUser.name }}</strong>
                </ng-container>
                <ng-template #guestUser>
                    <strong>Khách</strong>
                </ng-template>
            </div>

            <div class="footer-info-box">
                <span>Seat number</span>
                <strong>{{ selectedSeat || '--' }}</strong>
            </div>

            <div class="footer-button-group">
                <button class="btn-secondary" (click)="quayLai()">Quay lại</button>
                <button class="btn-primary" [disabled]="!selectedSeat" [class.disabled]="!selectedSeat"
                    (click)="tiepTuc()">
                    Tiếp tục
                </button>
            </div>

        </footer>

    </aside>

</main>